<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <img src="img/pp2.jpg" alt="picture" class="img-thumbnail rounded-circle" width="150"/>
      <h1 class="display-4 text-primary mt-4">Ahmad Beni Rusli</h1>
      <p class="lead">Software Designer | Fullstack Developer</p>
    </div>
  </div>
</div>